In [1]:
print('주피터 서버에 오신 것을 환영합니다')

주피터 서버에 오신 것을 환영합니다

In [5]:
print('2nd cell')

2nd cell

# 내가 주석(큰제목)@ MarkDOwn 여기에 설명 쓰기

## 나는 누구 여긴 어디(중제목), @Markdown. 주석보다는 마크다운에 설명.

### 소제목? 되네

* 나는 누구지
* 나는 두번째 목록(마크다운에서의 목록 * )
* 세번째

** 더 작은 목록 
** 더 작은 목록22

# 제일 큰 제목
## 그 다음 작은 제목
### 그다음

* 아침
* 점심
* 저녁
    * 밥밥밥
    * 밥밥바밥

*이탤릭*
**볼드**
***볼드&이탤릭***

In [4]:
import pandas as pd

In [5]:
df_2010 = pd.read_csv("../data/2010.csv", encoding='utf-8')

In [6]:
df_2010

   국어  영어  수학
0  50  88  99
1  77  20  80
2  80  70  77
3  60  60  88
4  70  44  10

In [7]:
df_2011=pd.read_csv("../data/2011.csv", encoding='utf-8')

In [8]:
df_2011

   국어  영어   수학
0  11  55  100
1  88  33   66
2  55  11   44
3  44  55   88
4  22  11   45

In [9]:
df_2012 = pd.read_csv("../data/2012.csv", encoding='utf-8')

In [10]:
df_2012

   국어  영어   수학
0  89  23   63
1  65  65   15
2  35   8   84
3  74  45   99
4  15  52  100

In [11]:
total_score=pd.concat([df_2010, df_2011, df_2012], ignore_index = True)

In [12]:
total_score

    국어  영어   수학
0   50  88   99
1   77  20   80
2   80  70   77
3   60  60   88
4   70  44   10
5   11  55  100
6   88  33   66
7   55  11   44
8   44  55   88
9   22  11   45
10  89  23   63
11  65  65   15
12  35   8   84
13  74  45   99
14  15  52  100

In [13]:
total_score.iloc[:,0] # iloc[행< 무조건 필요, 열]

0     50
1     77
2     80
3     60
4     70
5     11
6     88
7     55
8     44
9     22
10    89
11    65
12    35
13    74
14    15
Name: 국어, dtype: int64

In [22]:
cc1=pd.read_csv("../data/concat_1.csv", encoding='utf-8')

In [23]:
cc1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [25]:
cc2=pd.read_csv("../data/concat_2.csv", encoding='utf-8')

In [27]:
cc3=pd.read_csv("../data/concat_3.csv", encoding='utf-8')

In [26]:
cc2

    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [28]:
cc3

     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [35]:
ccall=pd.concat([cc1, cc2, cc3], sort=True, ignore_index=True)

In [36]:
ccall #자동 인덱싱 붙여서 해

      A    B    C    D    E    F    G    H
0    a0   b0   c0   d0  NaN  NaN  NaN  NaN
1    a1   b1   c1   d1  NaN  NaN  NaN  NaN
2    a2   b2   c2   d2  NaN  NaN  NaN  NaN
3    a3   b3   c3   d3  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   a4   b4   c4   d4
5   NaN  NaN  NaN  NaN   a5   b5   c5   d5
6   NaN  NaN  NaN  NaN   a6   b6   c6   d6
7   NaN  NaN  NaN  NaN   a7   b7   c7   d7
8    a8  NaN   b8  NaN  NaN   c8  NaN   d8
9    a9  NaN   b9  NaN  NaN   c9  NaN   d9
10  a10  NaN  b10  NaN  NaN  c10  NaN  d10
11  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [37]:
ccall.iloc[1,1]

'b1'

In [40]:
c1=ccall.loc[2] #2행 2번 row

In [41]:
c1

A     a2
B     b2
C     c2
D     d2
E    NaN
F    NaN
G    NaN
H    NaN
Name: 2, dtype: object

In [43]:
c2= ccall.iloc[:,0] #0열 0번 칼럼

In [44]:
c2

0      a0
1      a1
2      a2
3      a3
4     NaN
5     NaN
6     NaN
7     NaN
8      a8
9      a9
10    a10
11    a11
Name: A, dtype: object

In [45]:
c3= ccall.iloc[:,4] #4열 4번 칼럼

In [47]:
c3

0     NaN
1     NaN
2     NaN
3     NaN
4      a4
5      a5
6      a6
7      a7
8     NaN
9     NaN
10    NaN
11    NaN
Name: E, dtype: object

In [48]:
c4= ccall.loc[6:8] #6행~8행

In [49]:
c4

     A    B    C    D    E   F    G   H
6  NaN  NaN  NaN  NaN   a6  b6   c6  d6
7  NaN  NaN  NaN  NaN   a7  b7   c7  d7
8   a8  NaN   b8  NaN  NaN  c8  NaN  d8

In [50]:
c5= ccall.iloc[:, 3:8] #3~8칼럼

In [51]:
c5

      D    E    F    G    H
0    d0  NaN  NaN  NaN  NaN
1    d1  NaN  NaN  NaN  NaN
2    d2  NaN  NaN  NaN  NaN
3    d3  NaN  NaN  NaN  NaN
4   NaN   a4   b4   c4   d4
5   NaN   a5   b5   c5   d5
6   NaN   a6   b6   c6   d6
7   NaN   a7   b7   c7   d7
8   NaN  NaN   c8  NaN   d8
9   NaN  NaN   c9  NaN   d9
10  NaN  NaN  c10  NaN  d10
11  NaN  NaN  c11  NaN  d11

In [52]:
row_append = cc1.append(cc2, ignore_index= True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [53]:
row_append

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7

In [54]:
type(row_append)

pandas.core.frame.DataFrame

In [55]:
row_append.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], dtype='object')

In [58]:
inner_result=pd.concat([cc1, cc3], join='inner')

In [59]:
inner_result #cc1, 3의 공통된 것을 가지고 합치기

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [60]:
covid19=pd.read_csv("../data/country_wise_latest.csv")
covid19

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.040000,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.250000,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.170000,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.480000,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.940000,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.620000,76,10,13.16,Americas
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.210000,130774,36642,28.02,Americas
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.670000,34981,2409,6.89,Europe
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.790000,12428,2875,23.13,Western Pacific
9,Austria,20558,713,18246,1599,86,1,37,3.47,88.75,3.910000,19743,815,4.13,Europe
10,Azerbaijan,30446,423,23242,6781,396,6,558,1.39,76.34,1.820000,27890,2556,9.16,Europe
11,Bahamas,382,11,91,280,40,0,0,2.88,23.82,12.090000,174,208,119.54,Americas
12,Bahrain,39482,141,36110,3231,351,1,421,0.36,91.46,0.390000,36936,2546,6.89,Eastern Mediterranean
13,Bangladesh,226225,2965,125683,97577,2772,37,1801,1.31,55.56,2.360000,207453,18772,9.05,South-East Asia
14,Barbados,110,7,94,9,0,0,0,6.36,85.45,7.450000,106,4,3.77,Americas
15,Belarus,67251,538,60492,6221,119,4,67,0.80,89.95,0.890000,66213,1038,1.57,Europe
16,Belgium,66428,9822,17452,39154,402,1,14,14.79,26.27,56.280000,64094,2334,3.64,Europe
17,Belize,48,2,26,20,0,0,0,4.17,54.17,7.690000,40,8,20.00,Americas
18,Benin,1770,35,1036,699,0,0,0,1.98,58.53,3.380000,1602,168,10.49,Africa
19,Bhutan,99,0,86,13,4,0,1,0.00,86.87,0.000000,90,9,10.00,South-East Asia
20,Bolivia,71181,2647,21478,47056,1752,64,309,3.72,30.17,12.320000,60991,10190,16.71,Americas
21,Bosnia and Herzegovina,10498,294,4930,5274,731,14,375,2.80,46.96,5.960000,8479,2019,23.81,Europe
22,Botswana,739,2,63,674,53,1,11,0.27,8.53,3.170000,522,217,41.57,Africa
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.740000,2118646,323729,15.28,Americas
24,Brunei,141,3,138,0,0,0,0,2.13,97.87,2.170000,141,0,0.00,Western Pacific
25,Bulgaria,10621,347,5585,4689,194,7,230,3.27,52.58,6.210000,8929,1692,18.95,Europe
26,Burkina Faso,1100,53,926,121,14,0,6,4.82,84.18,5.720000,1065,35,3.29,Africa
27,Burma,350,6,292,52,0,0,2,1.71,83.43,2.050000,341,9,2.64,South-East Asia
28,Burundi,378,1,301,76,17,0,22,0.26,79.63,0.330000,322,56,17.39,Africa
29,Cabo Verde,2328,22,1550,756,21,0,103,0.95,66.58,1.420000,2071,257,12.41,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,Spain,272421,28432,150376,93613,0,0,0,10.44,55.20,18.910000,264836,7585,2.86,Europe
158,Sri Lanka,2805,11,2121,673,23,0,15,0.39,75.61,0.520000,2730,75,2.75,South-East Asia
159,Sudan,11424,720,5939,4765,39,3,49,6.30,51.99,12.120000,10992,432,3.93,Eastern Mediterranean
160,Suriname,1483,24,925,534,44,1,35,1.62,62.37,2.590000,1079,404,37.44,Americas
161,Sweden,79395,5700,0,73695,398,3,0,7.18,0.00,inf,78048,1347,1.73,Europe
162,Switzerland,34477,1978,30900,1599,65,1,200,5.74,89.62,6.400000,33634,843,2.51,Europe
163,Syria,674,40,0,634,24,2,0,5.93,0.00,inf,522,152,29.12,Eastern Mediterranean
164,Taiwan*,462,7,440,15,4,0,0,1.52,95.24,1.590000,451,11,2.44,Western Pacific
165,Tajikistan,7235,60,6028,1147,43,1,58,0.83,83.32,1.000000,6921,314,4.54,Europe
166,Tanzania,509,21,183,305,0,0,0,4.13,35.95,11.480000,509,0,0.00,Africa
167,Thailand,3297,58,3111,128,6,0,2,1.76,94.36,1.860000,3250,47,1.45,South-East Asia
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.00,0.000000,24,0,0.00,South-East Asia
169,Togo,874,18,607,249,6,0,8,2.06,69.45,2.970000,783,91,11.62,Africa
170,Trinidad and Tobago,148,8,128,12,1,0,0,5.41,86.49,6.250000,137,11,8.03,Americas
171,Tunisia,1455,50,1157,248,3,0,15,3.44,79.52,4.320000,1381,74,5.36,Eastern Mediterranean
172,Turkey,227019,5630,210469,10920,919,17,982,2.48,92.71,2.670000,220572,6447,2.92,Europe
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.160000,3834677,455582,11.88,Americas
174,Uganda,1128,2,986,140,13,0,4,0.18,87.41,0.200000,1069,59,5.52,Africa
175,Ukraine,67096,1636,37202,28258,835,11,317,2.44,55.45,4.400000,60767,6329,10.42,Europe
176,United Arab Emirates,59177,345,52510,6322,264,1,328,0.58,88.73,0.660000,57193,1984,3.47,Eastern Mediterranean
177,United Kingdom,301708,45844,1437,254427,688,7,3,15.19,0.48,3190.260000,296944,4764,1.60,Europe
178,Uruguay,1202,35,951,216,10,1,3,2.91,79.12,3.680000,1064,138,12.97,Americas
179,Uzbekistan,21209,121,11674,9414,678,5,569,0.57,55.04,1.040000,17149,4060,23.67,Europe
180,Venezuela,15988,146,9959,5883,525,4,213,0.91,62.29,1.470000,12334,3654,29.63,Americas
181,Vietnam,431,0,365,66,11,0,0,0.00,84.69,0.000000,384,47,12.24,Western Pacific
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.080000,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.500000,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.980000,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.970000,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.640000,1713,991,57.85,Africa